<div class='container'>
    <div class='headerfullwidth'>
        <h2>Anime Club @ UCI</h2>
        <h2 style='font-size-adjust: 0.4; font-style: italic'>(Cal Animage Epsilon)</h2>
        <!-- The border here -->
        <hr style='height: 50px; border-width: 5px; color: #F7EB5F; border-color: #F7EB5F; border-radius: 5px;' />
    </div>
    <div class='headercolumn'>
        <div class='headercolumn_item'>
            <h3 style='margin-bottom: 3%; color: #F7EB5F; font-weight: 700; font-size-adjust: 0.7;'>General Meetings</h3>
            <h3>Wednesday @ 7:10 PM</h3>
            <h3>Humanities Gateway 1800</h3>
        </div>
        <div class='headercolumn_item'>
            <h3 style='margin-bottom: 3%; color: #F7EB5F; font-weight: 700; font-size-adjust: 0.7;'>Screening Squad</h3>
            <h3>Thursday @ 6:00 PM</h3>
            <h3>Location TBD</h3>
        </div>
        <div class='headercolumn_disclaimer'>
            <h4>(Subject to change, see <a href="/discord">Discord</a> #meetings-info)</h4>
        </div>
    </div>
    <div class='headercolumntwo'>
        <img class="shokoimg" src="/assets/CAE_mascot2.png" style="height: 400px; padding-right: 2%;"></img>
    </div>
</div>
