<ul>
    <li>
        <a href='#about'>About</a>
    </li>
    <li>
        <a href='/timeline'>Timeline</a>
    </li>
    <li>
        <a href='/legacy'>Legacy</a>
    </li>
    <li>
        <a href='/animaid'>Maid Cafe</a>
    </li>
    <li>
        <a href='/arg'>Research</a>
    </li>
</ul>
<ul style="float:right">
    <li>
        <a href="/discord" target="_blank" style="padding:5px 0px 10px 10px">
            <img src="/assets/discord-border2.png" alt="Discord Link" width=40px>
            </img>
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/anime.uci/" target="_blank" style="padding:5px 0px 10px 10px">
            <img src="/assets/instagram-border.png" alt="Instagram Link" width=40px>
            </img>
        </a>
    </li>
    <li>
        <a href="https://www.facebook.com/AnimeUCI/" target="_blank" style="padding:5px 0px 10px 10px">
            <img src="/assets/facebook-border.png" alt="Facebook Link" width=40px>
            </img>
        </a>
    </li>
    <li>
        <a href="https://uci.moe/register/" target="_blank" style="padding:5px 0px 10px 10px">
            <img src="/assets/mail-border.png" alt="Mailing List Registration Link" width=40px></img>
        </a>
    </li>
</ul>
