<div class='container'>
    <div class='headerfullwidth'>
        <h2>Anime Club @ UCI</h2>
        <h2 style='font-size-adjust: 0.4; font-style: italic'>(Cal Animage Epsilon)</h2>
        <!-- The border here -->
        <hr style='height: 10px; border-width: 5px; color: #F7EB5F; border-color: #F7EB5F; border-radius: 5px;' />
        <!-- TODO: You could also just add another *_header.html file -->
        <h2 style='font-size: 50px;'>{{ page.header_title }}</h2>
    </div>
    <!--
        Old stuff
        <a href="https://discord.gg/xQkGFSw" target="_blank"><img src="/assets/discord-border.png" alt="Discord Link" width=72px></img></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="mailto:animecc.uci@gmail.com" target="_blank"><img src="/assets/mail-border.png" alt="Mail Link" width=72px></img></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="https://www.facebook.com/groups/animeuci" target="_blank"><img src="/assets/facebook-border.png" alt="Facebook Link" width=64px></img></a>
    -->
    <!-- @animeuci : twitter | | (one of these has AnimeUCI username, but old url) animecc.uci && anime_community_club_uci : instagram -->
</div>
