<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <meta name='description' content='{{ site.description | page.description }}'>
        <title>{{ site.title | page.title }}</title>
        <link href='/assets/app.css' rel='stylesheet' type='text/css'>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> <![endif]-->
    </head>
    <body>
        <div class='wholepage'>
            <nav role='navigation'>
                <div class='container'>
                    <div class='navbar-header'>
                        <button type='button' data-toggle='collapse' data-target='#menu'>
                            <span class='sr-only'>Toggle navigation</span>
                            <span class='icon-bar'></span>
                            <span class='icon-bar'></span>
                            <span class='icon-bar'></span>
                        </button>
                        <a class='navbar-brand' href='/'>Anime @ UCI</a>
                    </div>
                    <div id='menu'>
                        <!-- Add others here -->
                        {% if page_type == "main" %}
                            {% include main_menu.html %}
                        {% else %}
                            <h1>{{page_type}}</h1>
                            {% include other_menu.html %}
                        {% endif %}
                    </div>
                </div>
            </nav>
            <header>
                <div class='headline'>
                    <!-- Add others here -->
                    {% if page_type == "main" %}
                        {% include main_header.html %}
                    {% else %}
                        {% include other_header.html %}
                    {% endif %}
                </div>
            </header>
            <div class="container">
                <main>
                    {{ content }}
                </main>
                <footer>
                    {% include footer.html %}
                </footer>
            </div>
            <script src='/assets/app.js'></script>
        </div>
    </body>
</html>
